.draw-container {
    text-align: center;

    .input-parent {
        display: flex;
        justify-content: center;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        width: min-content;
        margin-right: 2rem;
    }

    canvas {
        cursor: pointer;
        width: 55%;
        padding-bottom: 2rem;

        @media (max-width: 736px) {
            width: 98%;
        }
    }
}

.winner-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    h1 {
        color: black;
        opacity: 1;
        z-index: 100;
    }
}

.winner-overlay::before {
    content: '';
    position: fixed;
    background-image: url('./confetti.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
