.draw-container {
    text-align: center;

    .input-parent {
        display: flex;
        justify-content: center;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        width: min-content;
        margin-right: 2rem;
    }

    canvas {
        cursor: pointer;
        width: 55%;
        padding-bottom: 2rem;

        @media (max-width: 736px) {
            width: 98%;
        }
    }
}
